<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/photo-1580657018950-c7f7d6a6d990?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">$1,250</p>

        <p class="subtitle has-text-centered">Par de Trajes BlackSmith</p>
      </article>
    </div>

    <div class="tile is-parent">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">$2,250</p>

        <p class="subtitle has-text-centered">Traje Básico</p>
      </article>
    </div>

    <div class="tile is-parent">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/photo-1524048422800-efeedc940167?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">$3,500</p>

        <p class="subtitle has-text-centered">Traje de Boda</p>
      </article>
    </div>
  </div>

  <div class="tile is-ancestor is-justify-content-center">
    <div class="tile is-parent is-4">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/photo-1482954363933-4bed6bbea570?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">$1,500</p>

        <p class="subtitle has-text-centered">Traje con Reloj</p>
      </article>
    </div>

    <div class="tile is-parent is-4">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/photo-1517940310602-26535839fe84?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">$2,250</p>

        <p class="subtitle has-text-centered">Traje de Lujo</p>
      </article>
    </div>
  </div>
</section>
