<div class="floating-menu">
  <nav class="menu">
    <ul class="menu-list">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/damas">Damas</a></li>
      <li><a routerLink="/caballeros">Caballeros</a></li>
      <li><a routerLink="/joyeria">Joyería</a></li>
      <li><a routerLink="/accesorios">Accesorios</a></li>
      <li><a routerLink="/bolsos">Bolsos</a></li>
    </ul>
  </nav>
</div>

<main class="container is-fluid mt-5">
  <div class="field is-grouped">
    <p class="control is-expanded">
      <input class="input" type="text" placeholder="Buscar" />
    </p>
    <p class="control">
      <a class="button is-light"> 🔎 </a>
    </p>

    <button class="button is-light">🛒</button>
  </div>

  <section class="section">
    <h1 routerLink="/" class="logo-title is-pointer">
      J<span class="logo-amp">&</span>C
    </h1>
  </section>
</main>

<router-outlet></router-outlet>

<app-promotions></app-promotions>

<footer class="footer">
  <div
    class="content mobile is-flex is-justify-content-space-evenly is-align-items-center"
  >
    <h3 class="title is-4 mb-0"><strong> Teléfono: </strong> 713 100 1749</h3>
    <h3 class="title is-4"><strong> ogilubaldo@gmail.com </strong></h3>
    <h3 class="title is-4"><strong> J&C </strong></h3>
  </div>
</footer>
