<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/photo-1548036328-c9fa89d128fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">$1,350</p>
      </article>
    </div>

    <div class="tile is-parent">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/photo-1566150905458-1bf1fc113f0d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">$2,050</p>
      </article>
    </div>

    <div class="tile is-parent">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/photo-1523779105320-d1cd346ff52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2073&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">$5,250</p>
      </article>
    </div>
  </div>

  <div class="tile is-ancestor is-justify-content-center">
    <div class="tile is-parent is-4">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/photo-1605733513597-a8f8341084e6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2129&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">$6,250</p>
      </article>
    </div>

    <div class="tile is-parent is-4">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/photo-1559563458-527698bf5295?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">$2,500</p>
      </article>
    </div>
  </div>
</section>
