<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-parent" routerLink="/damas">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/photo-1503342217505-b0a15ec3261c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">Dama</p>
      </article>
    </div>

    <div class="tile is-parent" routerLink="/caballeros">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/photo-1505022610485-0249ba5b3675?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">Caballero</p>
      </article>
    </div>

    <div class="tile is-parent" routerLink="/joyeria">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/photo-1535632787350-4e68ef0ac584?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">Joyería</p>
      </article>
    </div>
  </div>

  <div class="tile is-ancestor is-justify-content-center">
    <div class="tile is-parent is-4" routerLink="/accesorios">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/3/www.madebyvadim.com.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2082&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">Accesorios</p>
      </article>
    </div>

    <div class="tile is-parent is-4" routerLink="/bolsos">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/photo-1559563458-527698bf5295?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">Bolsos</p>
      </article>
    </div>
  </div>
</section>
