<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/photo-1543294001-f7cd5d7fb516?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">$2,250</p>

        <p class="subtitle has-text-centered">Anillo Beauty</p>
      </article>
    </div>

    <div class="tile is-parent">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/photo-1531995811006-35cb42e1a022?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">$1,250</p>

        <p class="subtitle has-text-centered">Collar Fashion</p>
      </article>
    </div>

    <div class="tile is-parent">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/photo-1633934542430-0905ccb5f050?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1625&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">$3,250</p>

        <p class="subtitle has-text-centered">Collar Triple</p>
      </article>
    </div>
  </div>

  <div class="tile is-ancestor is-justify-content-center">
    <div class="tile is-parent is-4">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/photo-1603561596112-0a132b757442?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">$10,250</p>

        <p class="subtitle has-text-centered">Anillo de Compromiso</p>
      </article>
    </div>

    <div class="tile is-parent is-4">
      <article class="tile is-child box">
        <figure class="image is-3by2">
          <img
            class="image is-pointer"
            src="https://images.unsplash.com/photo-1585960622850-ed33c41d6418?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          />
        </figure>

        <p class="title mt-3 has-text-centered">$20,250</p>

        <p class="subtitle has-text-centered">Set de Joyas</p>
      </article>
    </div>
  </div>
</section>
